<nav class="navbar navbar-dark bg-dark navbar-expand-md">
	<a class="navbar-brand" href="/">Stanley Lin</a>
	
	<!-- controls the collapsing of navbar elements? -->
	<button class="navbar-toggler" type="button"
		data-toggle="collapse" data-target="#mainNavbar"
		aria-controls="mainNavbar" aria-expanded="false"
		aria-label="Toggle Navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse justify-content-between" id="mainNavbar">
		<ul class="navbar-nav">
			<!--
			<li class="nav-item" id="aboutMe">
				<a class="nav-link" href="about.html">About Me</a>
			</li>
			-->
			
			<li class="nav-item" id="projects">
				<a class="nav-link" href="projects.html">Projects</a>
			</li>
			
			<li class="nav-item" id="experience">
				<a class="nav-link" href="experience.html">Experience</a>
			</li>
			<!--
			<li class="nav-item" id="guides">
				<a class="nav-link" href="guides.html">Guides</a>
			</li>
			-->
			<li class="nav-item dropdown d-md-none">
				<a class="nav-link dropdown-toggle"
					href="#" id="socials" role="button"
					data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					Socials
				</a>

				<div class="dropdown-menu" aria-labelledby="socials">
					<a class="dropdown-item" href="https://github.com/wertylop5">
						<i class="fab fa-lg fa-github"></i>
						Github
					</a>
					<a class="dropdown-item" href="https://linkedin.com/in/slin55055">
						<i class="fab fa-lg fa-linkedin"></i>
						LinkedIn
					</a>
				</div>
			</li>
		</ul>
		<!-- d stands for display -->
		<ul class="navbar-nav d-md-flex d-none">
			<li class="nav-item">
				<a class="nav-link" href="https://github.com/wertylop5">
					<i class="fab fa-lg fa-github"></i>
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="https://linkedin.com/in/slin55055">
					<i class="fab fa-lg fa-linkedin"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
