<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
	<a class="navbar-brand" href="index.html">Stanley Lin</a>
	
	<!-- controls the collapsing of navbar elements? -->
	<button class="navbar-toggler" type="button"
		data-toggle="collapse" data-target="#mainNavbar"
		aria-controls="mainNavbar" aria-expanded="false"
		aria-label="Toggle Navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="mainNavbar">
		<ul class="navbar-nav">
			<li class="nav-item" id="aboutMe">
				<a class="nav-link" href="about.html">About Me</a>
			</li>
			
			<li class="nav-item" id="projects">
				<a class="nav-link" href="projects.html">Projects</a>
			</li>
			
			<li class="nav-item" id="experience">
				<a class="nav-link" href="experience.html">Experience</a>
			</li>
			
			<!--
			<li class="nav-item" id="guides">
				<a class="nav-link" href="guides.html">Guides</a>
			</li>
			-->
		</ul>
	</div>
</nav>
